/.metadata/
RemoteSystemsTempFiles/.project
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/segments_2
*.gen
*.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_1.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_1.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_1.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_1.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_1.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_1.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_1.tii
/.recommenders/
extrace-app/.settings/.jsdtscope
extrace-app/.project
extrace-app/.classpath
extrace-app/.factorypath
*.prefs
*.component
*.xml
*.container
*.name
*.asc
