<?xml version="1.0" encoding="UTF-8"?>
 <Configuration monitorInterval="60">
    <Properties>
        <Property name="log-path">../logs/</Property>
    </Properties>
    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout>
    			<pattern>%d{yyyy-MM-dd HH:mm:ss,SS} %-5p [%t] %-17c{5}  %m%n</pattern>
      		</PatternLayout>
        </Console>
        <File name="App-File-Appender" fileName="${log-path}/app_log.log" >
            <PatternLayout>
		    	<pattern>%d{yyyy-MM-dd HH:mm:ss,SS} %-5p [%t] %-17c{5}  %m%n</pattern>
		    </PatternLayout>
        </File>
        <File name="SpringBoot-File-Appender" fileName="${log-path}/springboot_log.log" >
            <PatternLayout>
		    	<pattern>%d{yyyy-MM-dd HH:mm:ss,SS} %-5p [%t] %-17c{5}  %m%n</pattern>
		    </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="org.springframework.web" level="info" additivity="false">
            <AppenderRef ref="SpringBoot-File-Appender"/>
            <AppenderRef ref="App-File-Appender"/>
            <AppenderRef ref="Console-Appender"/>
        </Logger>
        <Logger name="com.extrace" level="info" additivity="false">
            <AppenderRef ref="SpringBoot-File-Appender"/>
            <AppenderRef ref="App-File-Appender"/>
            <AppenderRef ref="Console-Appender"/>
        </Logger>
        <Logger name="org.springframework" level="info" additivity="false">
            <AppenderRef ref="SpringBoot-File-Appender"/>
            <AppenderRef ref="App-File-Appender"/>
            <AppenderRef ref="Console-Appender"/>
        </Logger>
        <Root>
            <AppenderRef ref="Console-Appender"/>
        </Root>
    </Loggers>
</Configuration>